body {
    /* font-family: 'Dancing Script', cursive;
    font-family: 'Pattaya', sans-serif; */
    background-image: url(./image/wheat.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    backface-visibility: 0.5;
    margin: 0;
    padding: 0;
    background-color: #fff; 
    color: #333;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  .logo{
    width: 15%;
  }
  
  header {
    width: 100%;
    background: #fff;
    padding: 1em ;
    text-align: center;
  }
  .fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    }
    .container-logo{
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-around;
    }
    .button{
      font-family: 'Caveat', cursive;
      font-family: 'Dancing Script', cursive;
      font-family: 'Pattaya', sans-serif;
      text-decoration: none;
      color: #000;
      margin-top: 5px;
    }
  

  .info1,.info2,.info3,.info4{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
  }
  .info img{
    width: 30%;
  }
  
  
  .categories {
    text-align: center;
    padding: 20px;
  }
  
  /* .category-list {
    list-style: none;
    padding: 0;
  }
  
   .category-list li {
    display: inline-block;
    margin: 10px;
    position: relative; */

  .categories-container h2{
    font-family: 'Caveat', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Pattaya', sans-serif;
    color: #fff;
    text-align: center;
  }
  
 .food{
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: space-between;
 }
 .pig,.cow,.bird,.other{
  font-family: 'Caveat', cursive;
  font-family: 'Dancing Script', cursive;
  font-family: 'Pattaya', sans-serif;
  height: 730px;
  width: 300px;
  padding: 10px;
  word-wrap: break-word;
  border: red 3px solid;
  border-radius: 15px;
  background: #fff;
/* background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,255,255,1) 50%, rgba(255,0,0,1) 100%); */

 }
 .pigimg,.cowimg,.chikenimg,.otherimg{
  display: block;
width: 70%;
border: red 3px solid;
border-radius: 10%;
margin-bottom: 10px;
margin-left: auto;
margin-right: auto;
 }


  

  .carousel-caption h5{
    font-family: 'Caveat', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Pattaya', sans-serif;
    color: #000;
    margin-right: 150px;
  }
  .carousel-caption p{
    color: #000;
margin-left: 400px;
  }
  .carousel-control-next-icon,.carousel-control-prev-icon{
    background-color: lightgray;
  }
  
  .main-content {
    font-family: 'Caveat', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Pattaya', sans-serif;
    padding: 20px 10px 20px 10px;
    text-align: center;
    border: 3px solid red;
    border-radius: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
    background: #fff;
  }
  .main-content img{
    border: 3px red solid;
    border-radius: 15px;
  }
  .pay{
    padding: 20px;
    margin: 50px;
    font-family: 'Caveat', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Pattaya', sans-serif;
    background: #fff;
    border: red 3px solid;
    border-radius: 15px;
  }
  .pay h2,h3{
    text-align: center;
  }
  .pay1,.pay2,.pay3{
    padding: 5px;
    border: #ff0018 3px solid;
    border-radius: 10px;
  }

  .cretery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .order{
    font-family: 'Caveat', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Pattaya', sans-serif;
    text-align: center;
    width: 500px;
    height: 300px;
    border: 2px #fff solid;
    border-radius: 15px;
    margin: 30px 0 30px 100px;
    padding-top: 50px;
    background: #fff;
    }
  
  footer {
    font-family: 'Dancing Script', cursive;
font-family: 'Pattaya', sans-serif;
    background: #7d6400;
    color: #000;
    text-align: center;
    padding: 1em 0;
  }
  