body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff; 
    color: #333;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  .container img{
    size: 50%;
  }
  
  header {
    background-color: #d32f2f;
    color: white;
    padding: 1em 0;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  .categories {
    text-align: center;
    padding: 20px;
  }
  
  .category-list {
    list-style: none;
    padding: 0;
  }
  
  .category-list li {
    display: inline-block;
    margin: 0 10px;
    position: relative;
  }
  
  .category-list a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
    display: block;
    padding: 10px;
    border: 2px solid #d32f2f;
    border-radius: 20px;
    transition: color 0.3s, background-color 0.3s;
  }
  
  .category-list a:hover {
    color: #fff;
    background-color: #fff;
  }
  
  .sub-menu,
  .nested-sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  
  .sub-menu li,
  .nested-sub-menu li {
    display: block;
    width: 100%;
  }
  
  .sub-menu a,
  .nested-sub-menu a {
    padding: 10px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
    border-bottom: 1px solid #ddd;
  }
  
  .sub-menu a:hover,
  .nested-sub-menu a:hover {
    color: #d32f2f;
  }
  
  .main-content {
    padding: 20px 0;
    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 20px 50px;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
  }
  